<head>
  <!-- META DATA -->
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=0"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="Sash – الگوی مدیریت و داشبورد بوت استرپ 5"
  />
  <meta name="author" content="limoostudio" />
  <meta
    name="keywords"
    content="ادمین,داشبورد ادمین,پنل ادمین,قالب مدیریت,بوت استرپ,کلین,داشبورد,فلت,جیکوئری,مدرن,ریسپانسیو,قالب ادمین حرفه ای,داشبورد ریسپانسیو,رابط کاربری,کیت رابط کاربری."
  />

  <!-- FAVICON -->
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="/assets/images/brand/favicon.ico"
  />

  <!-- TITLE -->
  <title><%= title %></title>

  <!-- BOOTSTRAP CSS -->
  <link
    id="style"
    href="/assets/plugins/bootstrap/css/bootstrap.min.css"
    rel="stylesheet"
  />

  <!-- STYLE CSS -->
  <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/css/dark-style.css" rel="stylesheet" />
  <link href="/assets/css/transparent-style.css" rel="stylesheet" />
  <link href="/assets/css/skin-modes.css" rel="stylesheet" />

  <!--- FONT-ICONS CSS -->
  <link href="/assets/css/icons.css" rel="stylesheet" />

  <!-- COLOR SKIN CSS -->
  <link
    id="theme"
    rel="stylesheet"
    type="text/css"
    media="all"
    href="/assets/colors/color1.css"
  />
  <link href="/assets/switcher/css/switcher.css" rel="stylesheet" />
  <link href="/assets/switcher/demo.css" rel="stylesheet" />

  <!--RTL STYLE-->
  <link
    rel="stylesheet"
    id="fonts"
    href="/assets/fonts/styles-fa-num/iran-yekan.css"
  />
  <link href="/assets/css/rtl.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/toastify.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/datatables.css" />
  <link rel="stylesheet" type="text/css" href="/css/datatable-extension.css" />
  <!-- skeletons css-->
  <link rel="stylesheet" type="text/css" href="/css/css-skeletons.min.css" />
</head>
